.cards {
  color: #000;
  width: 920px;
  margin: 0 auto 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 100px;
  /* row-gap is 0px by default for a flex container */
}
