.footer__column-link {
  margin: 0;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  /* overriding links color */
  color: #fff;
  display: flex;
  align-items: center;
}
