.table_theme_dark {
  /* margins auto are duplicated in the block modificatiors
  because setting spacing is not recommended for blocks */
  margin-left: auto;
  margin-right: auto;
  position: relative;
  color: white;
  z-index: 1;
}
