.section-title_theme_dark {
  /* margins are duplicated in the block modificatiors
  because setting spacing is not recommended for blocks */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  position: relative;
  color: white;
  z-index: 1;
}
