.header__title {
  margin: 0 0 0 64px;
  max-width: 730px;
  width: 100%;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  /* to set layers explicitly in the flex container*/
  z-index: 2;
}
